DS_Store
*.pyc
*.retry
*.pyo
venv
venv*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

roles/andrewrothstein.nettools/
roles/geerlingguy.ntp/
roles/lborguetti.system-update/
roles/openio-sds/
